@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body{
        background-color: #c0d0f9;
    }
}

.slick-slide > div {
  margin: 0 10px;
}

/* custom-slider.css */
.slick-dots li button:before {
  font-size: 16px; /* Increase the size of the dots */
  color: #000; /* Change color if needed */
}

.slick-dots li.slick-active button:before {
  color: #000; /* Change color for active dot */
}
